/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}
img {
  vertical-align: middle;
}
a {
  color: #373B47;
  text-decoration: none;
  transition: .5s all ease;
}
a:hover {
  color: #E95853;
  transition: .5s all ease;
}
header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 49px;
}
h3 {
  font-size: 42px;
}
h4 {
  font-size: 35px;
}
h5 {
  font-size: 21px;
}
h6 {
  font-size: 14px;
}
.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}
.menu {
  padding: 14px 70px;
  overflow: auto;
}
.logo {
  float: right;
}
#top {
    position: absolute;
    top: 0;
}
#home {
  background-image: url(../images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  margin-top: 80px;
}
#home .container {
  color: #fff;
  padding: 10vh 2em;
}
#home h2 {
    font-size: 28px;
}
#home h1 {
  margin: 35px 0;
}
.text-home {
  font-size: 53px;
}
.btn-home {
  background: rgb(46, 204, 113);
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
  transition: .5s all ease;
}
.btn-home:hover, .btn-home:focus, .btn-home:active {
  background-color: #0AC25A;
  color: #fff;
  transition: .5s all ease;
}
#services {
  background-color: #f17c72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}
#services h4, #work h4 {
  max-width: 840px;
  width: 90%;
  margin: 0 auto;
  font-size: 95%;
}
.box-services {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
  padding: 0 2em;
}
.box-services h5 {
  padding-top: 21px;
}
.box-services img {
  max-width: 100%;
  height: auto;
}
.text-services {
  font-size: 35px;
  letter-spacing: 2px;
  margin: 42px 0;
}
#work {
  text-align: center;
  padding: 70px 7px;
  overflow: hidden;
}
#work > div > img {
  margin: 63px 0;
}
.work-services {
    width: 29%;
    float: left;
    margin: 35px 2%;
}
.work-services img {
  width: 100%;
}
.work-services h5 {
  padding-top: 35px;
}
#work-services-modal {
  width: 100%;
  height: 100vh;
  background: rgba(46, 204, 113, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.modal-body {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em .5em .5em;
  max-width: 900px;
  margin: 10vh auto;
  width: 90%;
  text-align: center;
}
.modal-body img {
  max-width: 100%;
  height: auto;
}
#close {
  background-image: url(../images/close.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  top: 1em;
  right: 1em;
  position: absolute;
  cursor: pointer;
}
footer {
  text-align: center;
  height: 100px;
  background-color: #373b47;
  color: #fff;
  padding-top: 7px;
}